h1 {
    text-align: center;
    color:rgb(243, 201, 201);
    position: relative;
    top: 200px;
    font-size: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: black;
}
